$primary-color: #0b74e5;
$hover-primary: #0a68ff33;
$text-primary: #81808a;
$bg-primary: #fff;
$border-color: #dddde3;
$hover-bg-color: #27272a1f;
$active-color: #ff3945;
$text-color: #38383d;


$search-width-m: 300px;
$search-width-tbl: 700px;
$search-width-pc: 800px;
$sidebar-width: 230px;
