@import '../../../../components/Sass/variables';
@import '../../../../components/Sass/mixin';

.wrapper {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 14px 30px;

    @include respond-to(tablet) {
        width: 380px;
        padding: 14px 20px;
    }

    @include respond-to(mobile) {
        width: 308px;
        padding: 14p 8px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: $text-primary;

    h2 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
        padding: 4px;
    }
}

.content {
    width: 100%;
}
.save-btn {
    margin: 10px auto;
    color: #fff;
    background-color: $primary-color;
}
