@import '../Sass/mixin';
.wrapper {
    color: rgb(39, 39, 42);
    font-size: 1.4rem;
    line-height: 150%;
    height: 36px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;

    &:hover {
        background-color: #27272a1f;
    }

    @include respond-to(mobile-tablet) {
        padding: 12px 16px;
        border-top: 1px solid #f2f2f2;
        font-size: 1.3rem;
    }
}

.search-icon {
    width: 18px;
    height: 18px;
    padding: 10px;
}

.title {
    display: inline-block;
    margin-left: 8px;
}
