@import '../../../components/Sass/mixin';
.form-title {
    margin: 10px 0;
    font-size: 1.5rem;
}

.btn-submit {
    width: 100%;
    padding: 13px 0px;
    margin: 26px 0px 10px;
    font-size: 2rem;
}

.forgot-password,
.create-account {
    font-size: 1.3rem;
    margin: 20px 0px 0px;
    display: inline-block;
}
.forgot-password,
.create-account span {
    color: #0d5cb6;
    cursor: pointer;
}
