.wrapper {
    display: flex;
    gap: 6px;
    background-color: #fafafa;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        opacity: .9;
    }
}

.product-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.name {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #242424;
    overflow: hidden;
    
}
