@import '../../../components/Sass/variables';
@import '../../../components/Sass/mixin';
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    // width: 100%;
    height: 36px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-left: 6px solid $primary-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 12px;

    @include respond-to(mobile) {
        display: none;
    }
}

.create-btn {
    margin-top: 6px;
}

//styles modal add user

.model-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 18px;
    border: 1px solid #ccc;
    min-width: 500px;
    border-radius: 8px;
    overflow: hidden;

    @include respond-to(mobile) {
        padding: 10px 6px;
        border-radius: none;
        min-width: 300px;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 1.6rem;
        font-weight: 500;
    }

    svg {
        cursor: pointer;
        width: 30px;
        height: 30px;

        @include respond-to(mobile) {
            width: 24px;
            height: 24px;
        }
    }
}

.model-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-submit {
    margin-top: 6px;
}
