@import '../../Sass/mixin';
@import '../../Sass/variables';

.wrapper {
    height: 100%;
    background-color: #f6f5fa;

    @include respond-to(mobile-tablet) {
        background-color: $bg-primary;
    }
}

.home {
    display: flex;
    padding-top: 16px;
    gap: 20px;

    @include respond-to(mobile-tablet) {
        display: block;
        padding-top: 0;
    }
}

.content {
    @include respond-to(desktop) {
        width: calc(100% - 230px - 32px);
    }
}
