@import '../Sass/variables';
@import '../Sass/mixin';
.sidebar-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    &:hover {
        background-color: $hover-bg-color;
    }

    @include respond-to(mobile-tablet) {
        flex-direction: column;
        width: 72px;
        height: 88px;
        text-align: center;
        display: block;
        text-decoration: none;
        padding: 0px 8px;
    }
}

.image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 8px;

    @include respond-to(mobile-tablet) {
        width: 48px;
        height: 48px;
        border-radius: 14px;
    }
}

.title {
    font-size: 1.4rem;
    color: $text-color;
}
